<!DOCTYPE html>
<html lang="en">

{{ wp_head }}

<head>
	<meta charset="UTF-8">
	<title>{{ site.name ? site.name : 'Nope' }}</title>
	{% include 'head.twig' %}
<body class="{{ body_class }}">

	{% include 'header.twig' %}

	<div class="container">

		<div class="row">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>

			<div class="col-md-4">
				sadjkshdkhs
				djkfhds'
				dkjfhdkj	
			</div>
		</div>

	</div>


{{ wp_footer }}

</body>
</html>
