{% extends 'base.twig' %}

{% block content %}
	<div class="row">

	{% for post in posts %}

		{% include 'partials/post.twig' with {
				id : post.post_id,
				title : post.post_title,
				date : post.post_date,
				content : post.post_content,
				link : post.link
			} only
		%}
	{% endfor %}
	
	</div>

{% endblock %}